<h1>Voici la liste des subventions proposées:</h1><br>
<% @subventions.each do |subvention| %>
  <h5><%= subvention.name %> <%= link_to "J'en profite!", new_subvention_subvention_request_path(subvention) %> </h5>
<% end %>
