<div style="display: flex; align-items: center; height: 90vh; justify-content: center;">
  <div>
    <%= link_to "Découvrez toutes les subventions dont vous pouvez profiter!", subventions_path, class: "btn btn-primary", style:"height: 100px; display: flex; align-items: center;"%>
  </div>
</div>
